.element.linked .label {
	margin-right: 22px;
}
.element .download {
	color: rgba(0, 0, 0, 0.2);
	display: inline-block;
	line-height: 1;
	position: absolute;
	right: 22px;
	width: 18px;
	height: 18px;
	margin-top: 1px;
	background: url(../img/download.png) no-repeat ;
}
.element .download:hover {
	background: url(../img/download-hover.png) no-repeat ;
}
.element .download:hover {
	color: blue;
}